# Treemün with simulation, spatial analysis, Pyomo, and HiGHS.
# CBC is a system/Conda executable and is installed by environment.yml.
# CPLEX is commercial/optionally licensed and is intentionally not installed here.
.[complete]
